<header class='event-header'>
  <h3><a href="#sections/<%= section.id %>"><%= section.title %></a></h3>

  <h4 class="event-name"><%= name %></h4>
  <p><%= moment(vent.get('date')).format('MMM-DD') %></p>
  <p><%= type %></p>

</header>
<section><%= body %></section>
<section id='forum'></section>
