<header class='event-header'>
  <h3><a href='#sections/<%= sectionId %>'><%= sectionTitle %></a></h3>

  <h4 class='event-name'><%= name %></h4>
  <p><%= formattedDate %></p>
  <p><%= event_type %></p>

</header>
<section><%= body %></section>
<a href='#' class='post-create'>Write a new post</a>
<section id='forum'></section>
