<header class='event-header'>
  <h3><a href='#sections/<%= sectionId %>'><%= sectionTitle %></a></h3>

  <h4 class='event-name'><%= eventName %></h4>
  <p><%= formattedDate %></p>
  <p><%= event_type %></p>

</header>
<section><%= eventBody %></section>
<a href='#' class='post-create btn btn-primary' role='button'>Write a new post</a>
<section id='forum'></section>
