<h3><a href='#sections/<%= sectionId %>'><%= sectionTitle %></a></h3>
<% if (hasEvent) { %>
  <h4><a href='#events/<%= eventId %>'><%= eventName %></a></h4>
<% } %>
<h3><%= postTopic %></h3>
<p><%= postBody %></p>
<a href="#" class="show_reply">Reply</a>
<form id="new_comment" class="hidden">
  <label for="comment_body">New reply</label>
    <textarea
      id="comment_body"
      name="comment[body]"
      rows="8"
      cols="40"
    ></textarea>
  <button name="submit">Submit</button>
</form>
<section id="comments"></section>
