<h2><%= @user.name %></h2>
<p>Email: <%= @user.email %></p>

<% if @user == current_user %>
  <%= button_to "Edit Profile", { action: :edit }, method: :get %>
  <%= button_to "Create a course", { action: :new, controller: :sections }, method: :get %>
  <%= button_to "Enroll in a course", { action: :index, controller: :sections }, method: :get %>
<% end %>
