<% if event.persisted? %>
  <% action = event_url(event) %>
  <% method = "PATCH" %>
  <% button_text = "Update" %>
<% else %>
  <% action = section_events_url(event.section_id) %>
  <% method = "POST" %>
  <% button_text = "Create" %>
<% end %>

<form id="create-event" action="<%= action %>" method="POST">
  <%= auth_token %>
  <input type="hidden" name="_method" value="<%= method %>">

  <label for="event_name">Name</label>
  <input type="text" id="event_name" name="event[name]" value="<%= event.name %>">

  <label for="event_date">Date</label><!-- TODO: default to today -->
  <input type="date" id="event_date" name="event[date]" value="<%= event.date %>">
  <!-- TODO: date fill doesn't work -->
  <!-- TODO: option select -->
  <label for="event_event_type">Type</label>
  <select id="event_event_type" name="event[event_type]">
    <option value="event">Event (default)</option>
    <option value="session">Session</option>
    <option value="assignment">Assignment</option>
    <option value="reading">Reading</option>
    <option value="assessment">Assessment</option>
  </select>

  <button name="submit"><%= button_text %></button>

  <label for="event_body">Body</label>
  <textarea id="event_body" name="event[body]" rows="8" cols="40"><%= event.body %></textarea>
</form>
