<table class="syllabus">
  <thead>
    <td>Name</td>
    <td>Date</td>
    <td>Type</td>
    <td></td>
  </thead>
  <tbody>
  <% events.each do |event| %>
    <tr>
      <td>
        <a href="<%= event_url %>"><%= event.name %></a>
      </td>
      <td>
        <%= event.date %>
      </td>
      <td>
        <%= event.event_type %>
      </td>
      <td><%= button_to "Make a post", { action: :new, controller: :posts, section_id: params[:id] }, method: :get %>
      </td>
    </tr>
  <% end %>
    <%= render partial: 'events/form_row', locals: { section: section } if current_user.teaches?(section) %>
  </tbody>
</table>
