<h3>Syllabus</h3>
<table class="syllabus">
  <thead>
    <td>Name</td>
    <td>Date</td>
    <td>Type</td>
    <td></td>
  </thead>
  <tbody>
  <% events.each do |event| %>
    <tr>
      <td>
        <a href="<%= event_url(event) %>"><%= event.name %></a>
      </td>
      <td>
        <%= event.date %>
      </td>
      <td>
        <%= event.event_type %>
      </td>
      <td><%= button_to "Make a post", new_event_post_url(event), method: :get %>
      </td>
    </tr>
  <% end %>
    <%= render partial: 'events/form_row', locals: { section: section } if current_user.teaches?(section) %>
  </tbody>
</table>
