<% unless @user.classes.empty? && @user.classes_taught.empty? %>
  <%= render 'sections/create_button' %>
  <% unless @user.classes_taught.empty? %>
    <table class="course-list">
      <thead>
        <td><strong>Title</strong></td>
        <td><strong>Description</strong></td>
      </thead>

      <tbody>
      <% @user.classes_taught.each do |section| %>
      <tr>
        <td><a href="<%= section_url(section) %>"><%= section.title %></a></td>
        <td><%= section.description %></td>
      </tr>
      <% end %>

      </tbody>
    </table>
  <% end %>

  <%= render 'sections/add_button' %>
  <% unless @user.classes.empty? %>
    <table class="course-list">
      <thead>
        <td><strong>Title</strong></td>
        <td><strong>Description</strong></td>
      </thead>

      <tbody>
      <% @user.classes.each do |section| %>
      <tr>
        <td><a href="<%= section_url(section) %>"><%= section.title %></a></td>
        <td><%= section.description %></td>
      </tr>
      <% end %>

      </tbody>
    </table>
  <% end %>

<% else %>
  <h2>No classes found!</h2>
  <%= render 'sections/create_button' %>
  <%= render 'sections/add_button' %>
<% end %>
