<h2><%= @post.section.title %></h2>
<h3><%= @post.topic %></h3>
<p class="description">
  Posted by <%= @post.user.name %> <em><%= time_ago_in_words(@post.created_at) %> ago</em>
</p>

<p>
  <%= @post.body %>
</p>
<% comment = Comment.new(post_id: @post.id) %>
<%= render 'comments/leaf', comment: comment %>

<ul class="comment_tree">
  <% comments_by_parent = @post.comments_by_parent %>
  <% comments_by_parent[nil].each do |comment| %>
    <li><%= render('comments/tree',
                    comment: comment,
                    comments_by_parent: comments_by_parent) %>
    </li>
  <% end %>
</ul>
