<section class="sidebar">
  <header class="header">
    <h1>Whiteboard</h1>
    <p class="welcome-message">Welcome, <%= current_user.name %></p>
  </header>

  <nav class="nav">
    <ul class="nav-links">
      <li><a href="<%= user_url(current_user) %>">Profile</a></li>
      <li><a href="<%= user_enrollments_url(current_user) %>">Courses</a></li>
      <li><a href="#">Calendar</a></li>
      <li><a href="#">To-dos</a></li>
    </ul>
  </nav>

  <form id="sign-out" action="<%= session_url %>" method="post">
    <%= auth_token %>
    <input type="hidden" name="_method" value="delete">
    <button name="sign-out">Sign Out</button>
  </form>
</section>
